@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="text-info">Welcome to Zack's Albums! On this site I document albums I've listened to and rate them out of 10.</p>
</div>
